---
http_interactions:
- request:
    method: get
    uri: http://web4.sa-media.com/SASoapAPI/service.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://www.sermonaudio.com/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://www.sermonaudio.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.sermonaudio.com/\">\r\n
        \     <s:element name=\"GetSeriesByMemberID\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"MemberID\" type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetSeriesByMemberIDResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetSeriesByMemberIDResult\" type=\"tns:ArrayOfString\"
        />\r\n          </s:sequence>\r\n        </s:complex[...]
- request:
    method: post
    uri: http://web4.sa-media.com/SASoapAPI/service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.sermonaudio.com/"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:GetSermonInfo><tns:MemberID><SA_MEMBER_ID></tns:MemberID><tns:Password><SA_PASSWORD></tns:Password><tns:SermonID>720141933368</tns:SermonID></tns:GetSermonInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.sermonaudio.com/GetSermonInfo"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetSermonInfoResponse
        xmlns="http://www.sermonaudio.com/"><GetSermonInfoResult><SermonID>720141933368</SermonID><Title>Facing
        Death</Title><ShortTitle>Facing Death</ShortTitle><SubTitle>Psalm 23</SubTitle><Speaker>Mitchell
        Jones</Speaker><EventType>Sunday - PM</EventType><BibleText>Psalm 23:4</BibleText><Date>2014-07-20T00:00:00</Date><CreateDate>2014-07-20T20:53:56</CreateDate><DownloadCount>8</DownloadCount><MP3Duration>39
        minutes</MP3Duration><MP3Filename>http://mp3.sa-media.com/filearea/720141933368/720141933368.mp3</MP3Filename><Language
        /><Keywords>bible psalms death jesus evil shepherd staff comfort</Keywords><MoreInfoText>Facing
        Death - Pastor Mitchell Jones - Cornerstone Baptist Church 709 Hwy. 95 N.
        Elgin TX. 78621 (512) 285-4280 http://<SA_MEMBER_ID>.org Email: <SA_MEMBER_ID>@gmail.com
        7-20-14</MoreInfoText></GetSermonInfoResult></GetSermonInfoResponse></soap:Body></soap:Envelope>'
  recorded_at: Tue, 22 Jul 2014 21:57:35 GMT
recorded_with: VCR 2.9.2
